.intranet-honeypots
  &-external-network
  &-internal-network
    .panel-body
      padding 0
  &-top-services
    .panel-body
      padding .5rem
  #networkExternal
  #networkInternal
  #topServices
    height 40vh
  #topServices
    width 100%
