<template name="sidebar">
<div class="nav-side-menu">
  <div class="brand">SmartHive</div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
      <li>
        <a href="/">
          <i class="fa fa-dashboard fa-lg"></i>&nbsp;&nbsp;Dashboard
        </a>
      </li>
      <li data-toggle="collapse" data-target="#service" class="collapsed">
        <a href="#"><i class="fa fa-globe fa-lg"></i>&nbsp;&nbsp;Honeypots <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="service">
        <li><a href="/internet">&nbsp;&nbsp;Internet</a></li>
        <li><a href="/intranet">&nbsp;&nbsp;Intranet</a></li>
      </ul>
      <li>
        <a href="/analytics"><i class="fa fa-area-chart fa-lg"></i>&nbsp;&nbsp;Analytics</a>
      </li>
    </ul>
  </div>
</div>
</template>
